body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background: #030303;
    
    font-weight: 700;
}

header {
    color: #fff;
    padding: 10px 20px;
    text-align: left;
    padding-top: 60px;
}

.header-container {
    padding-right: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    border-radius: 20%;
    width: 170px; 
    height: auto;
    margin-right: 30px;
}

.text-container h1 {
    font-size: 3.8rem;
    line-height: 1; 
    margin: 0;
    background: linear-gradient(to bottom, #c2c2c2, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.text-container p {
    margin: 0;
    font-size: 1.8rem; 
    color:#B6B9C6;
}

.project-showcase {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.project-showcase img{
    width: 65%;
    height: auto;
    border-radius: 5%;
}

.content-container {
    width: 65%;
    letter-spacing:1px;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.content-container h3{
    color: #E2E6F6;
    margin-bottom: 10px;
    margin-top: 15px;
    padding-left: 25px;
    font-size: 2.3rem;
    transition: transform 0.4s ease-in-out, filter 0.4s ease-in-out;
}


.content-container p {
    line-height: 1.5;
    color: #CECECF;
    font-size: 1.3rem;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 530;
}

.right-side {
    width: 38%; 
}

hr {
    border: 0;
    border-top: 1px solid #1A1A1A; /* Adjust the color to match your design */
    margin-left: 20px ; 
    margin-right: 20px ;
}


.left-side {
    width: 60%; 
}

.tech-stack{
    background-color: #0B0B0C;
    border: 1px solid #1A1A1A;
    border-radius: 10%;
    margin-bottom: 20px;
}

.tech-stack ul {
    list-style: none;
}

.tech-stack ul li {
    margin-bottom: 10px; 
}

.created {
    background-color: #0B0B0C;
    border: 1px solid #1A1A1A;
    border-radius: 5%;
    margin-bottom: 20px;
}
.links {
    background-color: #1a0418;
    border: 1px solid #1A1A1A;
    border-radius: 5%;
    margin-bottom: 20px;
}



/* .full-article{
    border: 1px solid #1A1A1A;
    border-radius: 5%;
    margin-bottom: 20px;
    background-color: #151522;
    
} */

.links p a {
    margin-top: 0;
    line-height: 1.5;
    color: #CECECF;
    font-size: 1.3rem;
    font-weight: 530;
    text-decoration: none;
}

.links span img {
    width: 20px; /* Adjust icon size as needed */
    height: auto;
    margin-left: 10px; /* Space between text and icon */
}

.links p a:hover {
    color: #a6a6a6;
}
.about{
    background-color: #0B0B0C;
    border: 1px solid #1A1A1A;
    border-radius: 5%;
    margin-bottom: 20px;
}
.image1 img{
    width: 100%;
    height: auto;
    border-radius: 5%;
}

.image3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.image3 img{
    width: 65%;
    height: auto;
    border-radius: 5%;
}

section {
    padding: 20px;
    margin: 0 auto;
    width:65%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    letter-spacing:1px;
    
}

section p {
    line-height: 1.5;
    color: #CECECF;
    font-size: 1.3rem;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 530;
}

section h3{
    color: #E2E6F6;
    margin-bottom: 10px;
    margin-top: 15px;
    padding-left: 25px;
    font-size: 2.3rem;
    transition: transform 0.3s ease, color 0.3s ease;
    transform-origin: left;
}

section h3:hover {
    color: #c84a97;
    transform: scale(1.1);   
}

ul {
    list-style-type: none;
}



.tech-stack {
    margin-top: 20px;
}

.tech-item {
    display: flex;
    align-items: center;
}

.tech-item img {
    width: 50px; 
    height: auto;
}

.tech-info h4 {
    margin-left: 20px;
    font-size: 1.3rem;
    font-weight: 500;
    color: #CECECF;
}


.link img {
    width: 70%; 
    height: auto;
    margin-top: 10px;
}

.video-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 40px; 
    padding-bottom: 40px; 
}

.video-container iframe {
    border-radius: 15px; 
    border: none;
}
