/* Video Container */
.video-card {
    display: flex;
    justify-content: center;
    width: 65%;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
}

.video-card iframe {
    border-radius: 1em;
    border: none;
}
@media (max-width: 850px) {
    .video-card iframe {
        width: 90%;
        border-radius: 1em;
    }
}
/* For screens below 600px */
@media (max-width: 600px) {
    .video-card {
        height: 20%;
        border-radius: 1em;
    }
}
