/* About Me Section */

.about-me {
  padding: 50px 20px;
  background-image: url('../assets/images/trry.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 80vh; /* Use min-height to ensure it takes full screen on large screens */
}

.about-me img {
  width: 300px;
  margin-bottom: 5%;
  border-radius: 50%; /* Ensure the container is circular */
  transition: box-shadow 0.2s ease-in-out; /* Smooth transition for the glow */
}

/* Flexbox to manage layout */
.main-about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1130px;
  max-width: 100%;
  margin: 0 auto;
}

.about-me img:hover {
  box-shadow: 0 0 40px 15px rgba(255, 105, 180, 0.4), /* Pinkish */
              0 0 60px 25px rgba(255, 255, 255, 0.2);   /* Light blue */
}

.about-me-text {
  width: 80%;
  margin: 0 40px;
}

.about-me-text h2 {
  color: #c84a97;
  font-family: "Poppins", sans-serif; 
  font-size: 2rem;
  line-height: 1.565;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.letMe {
  color: white;
  font-family: "Poppins", sans-serif; 
  font-size: 1.8rem;
  line-height: 1.565;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.about-me-text p {
  color: rgb(193, 193, 193);
  letter-spacing: 1px;
  line-height: 28px;
  font-family: "Poppins", sans-serif; /* Correct the font name */
  font-weight: 300;
  font-size: 20px;
  padding-top: 20px;
  margin-bottom: 45px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .about-me img {
    width: 150px;
  }

  .about-me-text h2 {
    font-size: 1.5rem;
  }

  .letMe {
    font-size: 1.2rem; 
  }

  .about-me-text p {
    font-size: 14px; 
    line-height: 24px; 
  }
}
