nav {
  z-index: 2;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.9);
  justify-content: space-between;
  padding: 7px 5%;

}

nav.sticky {
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.myname {
  color: white;
  font-size: 33px;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  font-weight: 550;
  padding-top: 26px;
}

#menue {
  display: flex;
  list-style: none;
}

#menue li {
  font-size: 19px;
    list-style-type: none;
    display: inline-block;
    padding: 10px 15px;
    padding-top: 40px;
    padding-bottom: 10px;
}

#menue li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  transition: color 0.5s, transform 0.5s;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
#menue li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: white;
  left: 0;
  bottom: -12px; 
  transform: scaleX(0);
  transition: .5s;
}

#menue li a:hover {
  color: #c84a97;
}

#menue li a:hover::after {
  transform: scaleX(1);
    background: #c84a97;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.nav-logos {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.nav-logos img {
  width: 25px;
  height: 25px;
  margin-right: 35px;
  transition: transform 0.5s ease, filter 0.5s ease-in-out;
}

.nav-logos img:hover {
  transform: scale(1.2);
  filter: brightness(0) saturate(100%) invert(58%) sepia(44%) saturate(5402%) hue-rotate(294deg) brightness(96%) contrast(87%);
}


