/* Panel containing video background and content */
.mysite-pannel {
  position: relative;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  margin-top: 5%;
  height: 75vh; /* Viewport-based height */
  z-index: 1;
  background-image: url('../assets/images/pink_blue_background.jpg');
  background-size: cover;
  background-position: center;
}

#myVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Make the video fill the viewport height */
  z-index: -2;
  object-fit: cover;
  opacity: 70%;
}

.HelloWorld {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 700;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hello {
  color: rgb(255, 255, 255);
  font-family: "poppins", sans-serif;
  font-size: 1.5vw;
  line-height: 1.565;
  margin-bottom: 0;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

.name {
  color: white;
  font-family: "poppins", sans-serif;
  letter-spacing: 0.1px;
  font-style: normal;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  font-variant-ligatures: common-ligatures;
  font-size: clamp(2rem, 5vw, 7rem); /* Dynamic font-size for large screens */
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  
}
.more {
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
  color: white;
  border-color: rgba(255, 255, 255, 0.99);
  line-height: 3rem;
  text-transform: uppercase;
  margin: 10px;
  font-weight: 700;
  font-size: clamp(0.8rem, 1vw, 1.2rem); /* Responsive font-size */
  letter-spacing: 0.25rem;
  transition: transform 0.4s ease-in-out, filter 0.4s ease-in-out;
  margin-bottom: 20px;
  display: inline-block;
  white-space: nowrap; /* Prevent text from breaking into multiple lines */
  
}

.more.stroke {
  background: transparent !important;
  border: 3px solid #afafafa0;
  transition: border-color 0.5s;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 0.7%;
  padding-bottom: 0.7%;
  transition: transform 0.4s ease-in-out, filter 0.4s ease-in-out;
}

.more:hover {
  border-color: #00d1ff;
  transform: scale(1.05);
}

.more::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 11px;
  background: url('../assets/logos/smallArrow.png') no-repeat;
  background-size: contain;
  margin-left: 8px;
  animation: arrow-bob 2s infinite;
}

/* Animation for arrow */
@keyframes arrow-bob {
  50% {
    transform: translateY(5px);
  }
}

/* Hidden elements for slide-in animation */
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/* Fade-in sections that appear as you scroll */
.fade-in-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in-section.fade-in {
  opacity: 1;
  transform: translateY(0);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Logo container with responsive image sizes */
.logo-container {
  bottom: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 2;
  padding-top: 40px;
}

.logo-container img {
  width: 2vw;
  height: 2vw;
  margin: 50px 20px;
  transition: transform 0.4s ease-in-out, filter 0.4s ease-in-out;
}

.logo-container a:hover img {
  transform: scale(1.1);
  filter: brightness(0) saturate(100%) invert(58%) sepia(44%) saturate(5402%) hue-rotate(294deg) brightness(96%) contrast(87%);
}

/* For screens smaller than 480px (mobile devices) */
@media (max-width: 768px) {
  .hello {
    font-size: 3vw; 
    width: auto;
  }
}

/* For screens smaller than 480px (mobile devices) */
@media (max-width: 480px) {

  .mysite-pannel {
    margin-top: 5%;
    height: 60vh; /* Reduce the height for mobile screens */
    background-size: cover;
    background-position: center;
    position: relative;
  }

  #myVideo {
    height: 60vh; /* Reduce the height for mobile screens */
    object-fit: cover;
  }

  .HelloWorld {
    top: 45%; /* Adjust to center the text */
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .hello {
    font-size: 4vw; 
    width: auto;
  }

  .name {
    font-size: 8vw; 
      white-space: nowrap; /* Prevent text from wrapping to multiple lines */
      overflow: hidden; 
      padding: 0;
    }

  .more {
    font-size: 3vw; 
    padding-left: 3%; 
    padding-right: 3%;
    line-height: 2rem;
    margin-bottom: 10px;
  }

  .more.stroke {
    padding-left: 6%;
    padding-right: 8%;
    padding-top: 0.8%;
    padding-bottom: 0.8%;
    border: 2px solid #afafafa0; 
  }

  .logo-container {
    padding-top: 20px;
    bottom: 20px;
    display: flex;
    justify-content: center;
  }

  .logo-container img {
    width: 6vw; 
    height: 6vw; 
    margin: 20px 10px; 
  }
}
