.overlay-container {
    position: relative;
  }
  
  .toggle-button {
    /* Style your toggle button */
    padding: 10px 20px;
    background-color: #c84a97;
    color: white;
    border: none;
    cursor: pointer;
    margin: 20px;
    transition: background-color 0.3s;
  }
  
  .toggle-button:hover {
    background-color: #af3a87;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0px;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: hidden;
    transition: height 0.5s ease;
    z-index: 1000;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    color: white;
  }
  
  .overlay-content h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .overlay-content p {
    font-size: 20px;
  }
  