

/* projects */
.projects{
  background-color: #000000;
  margin-left: 20%;
  margin-right: 20%;
  
}
/* Grid layout */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns layout */
  padding-bottom: 100px;
  gap:3%;
  row-gap: 7%;
}

.project-item {
  position: relative;
}

.project-content {
  position: relative;
  
}

.project-image {
  width: 100%;
  border-radius: 5%;
}

.project-image:hover {
  width: 100%;
  border-radius: 5%;
}

/* Box with 0.5 opacity at the bottom of the image */
.project-title-box {
  position: absolute; /* Position it relative to the project-item */
  bottom: -25%; /* Align it to the bottom of the image */
  left: 0;
  right: 0;
  width: 100%; /* Match the width of the image */
  padding: 10px;
  z-index: 1; /* Ensure it's above the image */
  box-sizing: border-box; /* Ensure padding does not affect the width */
  /* background-color: #0B0B0C; */
  background-color: rgba(0, 0, 0, 0.9);
  border: 1px solid #1A1A1A;
  border-radius: 5%;
  text-align: left;
}

/* Title text inside the box */
.project-title {
  font-family: "Poppins", sans-serif;
  color: #fff;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

hr {
  border: 0;
  border-top: 1px solid #1a1a1a; /* Adjust the color to match your design */
  margin-left: 20px ; 
  margin-right: 20px ;
  
}

.project-type{
  text-align: left;
  margin-bottom: 2%;
}
.project-description {
  text-align: left;
}